* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: rgb(42, 46, 48);
    display: flex;
    align-items: flex-start;
    padding: 120px;
    justify-content: space-between;
    height: 400vh;
}


#div-block1 {
    background-color: #212426;
    text-align: center;
    padding: 40px;
    border-radius: 8px;
}

h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}


#div-block2 {
    background-color: #0e3b20;
    text-align: center;
    padding: 40px;
    border-radius: 8px;
}