#div1{
    text-decoration: underline dotted #000000e1;
}

#div2{
    text-decoration: none;
}

h1{
    text-decoration: overline;
}

#span1{
    text-decoration: line-through;
}

#span2{
    text-decoration: underline overline;
}

.underlined{
    text-decoration: dashed underline;
}

.warning{
    text-decoration: wavy;
}

#nav1{
    text-transform: uppercase;
}

#headings{
    text-shadow: 4px 2px hsla(49, 55%, 51%, 0.882);
    text-decoration: hsla(68, 93%, 53%, 0.882);
}

